@{
    ViewBag.Title = "Goles Server Side";
}

<link href="~/Content/Tables/jquery.dataTables.min.css" rel="stylesheet" />


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-5">

    <h2>Goles con tabla Server Side</h2>

    @Html.ActionLink("Ir a Listado de Goles por Jugador", "ListaGolesJugador", "Goles", null, new { @class = "btn btn-success" })

</div>

<p>A continuación puede registrar un jugador con sus goles en un equipo</p>
<hr class="mb-5" />
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped" id="tblStudent">
            <thead>
                <tr>
                    <th scope="col">Equipo</th>
                    <th scope="col">Cantidad de goles</th>
                    <th scope="col">Jugador</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<link href="~/Content/Tables/datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/tables/dataTables.js"></script>
<script src="~/Scripts/tables/datatables.min.js"></script>