<div class="jumbotron my-5">
    <h1 class="display-4">Prueba de la API</h1>

    <p class="lead my-4">A continuación se muestra la cantidad de goles para el equipo solicitado:</p>


    <p class="lead my-4"><strong>@ViewBag.Equipo :</strong> @ViewBag.Cant goles en total.</p>

    <a href="/Goles/ListaGolesJugador" class="btn btn-success btn-lg">Volver al listado de Goles</a>
</div>