<div class="jumbotron my-5">
    <h1 class="display-4">Prueba de la API</h1>

    <p class="lead my-4">A continuación se muestra la cantidad de goles para el equipo solicitado:</p>

    <p class="lead my-4">@ViewBag.Cant</p>

</div>