<connectionStrings>
	<add name="GoleadaDBEntities" connectionString="metadata=res://*/Entities.EDMX.Model1.csdl|res://*/Entities.EDMX.Model1.ssdl|res://*/Entities.EDMX.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ED4BTGK\SQLEXPRESS;initial catalog=GoleadaDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>