@{
    ViewBag.Title = "Bienvenido";
}

<div class="jumbotron my-5">
    <h1 class="display-4">Bienvenido/a a la Evaluación del Aprendizaje Nº 2</h1>
    
    <p class="lead my-4">A continuación podrá utilizar la aplicación para adiminstrar los jugadores y goles de los mismos</p>
    
    <a href="/Jugadores/ListaJugadores" class="btn btn-success btn-lg">Administrar Jugadores de Fútbol</a>
    <a href="/Goles/ListaGolesJugador" class="btn btn-success btn-lg">Administrar Goles</a>
</div>
