@{
    ViewBag.Title = "Bienvenido";
}

<div class="jumbotron mt-5">
    <h1>Bienvenido/a a la Evaluación de aprendizaje Nº 2</h1>
    
    <p class="lead">A continuación podrá utilizar la aplicación para adiminstrar los jugadores y goles de los mismos</p>
    
    <a href="#" class="btn btn-primary">Administrar Jugadores de Fútbol</a>
    <a href="#" class="btn btn-primary">Administrar Goles</a>
</div>
