<div class="jumbotron my-5">
    <h1 class="display-4">@ViewBag.Title</h1>
    
    <p class="lead my-4">@ViewBag.Description</p>
    
    <a href="/Inicio/Bienvenido" class="btn btn-success btn-lg  mb-4">Ir a inicio</a>
</div>
