@{
    ViewBag.Title = "Indice";
}

<div class="jumbotron my-5 p-4">

    <h1 class="display-4 mb-4">Indice de la aplicación</h1>

    <div class="row">
        <article class="col-lg-4">
            <h4>
                Inicio
            </h4>
            <p>
                <a href="/Inicio/Bienvenido">Bienvenido</a>
            </p>
            <p>
                <a href="/Inicio/Error">Error</a>
            </p>
            <p>
                <a href="/Inicio/Indice">Indice</a>
            </p>
        </article>
        <article class="col-lg-4">
            <h4>
                Jugadores
            </h4>
            <p>
                <a href="/Jugadores/AltaJugador">AltaJugador</a>
            </p>
            <p>
                <a href="/Jugadores/ListaJugadores">ListaJugadores</a>
            </p>
        </article>
        <article class="col-lg-4">
            <h4>
                Goles
            </h4>
            <p>
                <a href="/Goles/AltaGolesJugador">AltaGolesJugador</a>
            </p>
            <p>
                <a href="/Goles/GolesDTOApi">GolesDTOApi</a>
            </p>
            <p>
                <a href="/Goles/GolesEquipo">GolesEquipo</a>
            </p>
            <p>
                <a href="/Goles/GolesPruebaApi">GolesPruebaApi</a>
            </p>
            <p>
                <a href="/Goles/GolesServerSide">GolesServerSide</a>
            </p>
            <p>
                <a href="/Goles/ListaGolesJugador">ListaGolesJugador</a>
            </p>
        </article>
    </div>
</div>
