
<footer class="border-top mt-5">
    <div class="container p-3">
        <p class="lead text-center pb-0">Fiamingo, Luciano</p>
        <p class="lead text-center pt-0">
            DNI: @{Html.RenderPartial("~/Views/Partials/DNI.cshtml");}
        </p>
    </div>
</footer>

